@use "../../scss/"as *;


.input {
    display: block;
    appearance: none;
    outline: 0;
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    transition-duration: 0.25s;
    font-weight: 300;
    border: none;

    &.is-invalid {
        border: 3px solid red;
    }

    &:hover {
        background-color: #abcbf7;
    }

    &:focus {
        background-color: #9dc4fc;
        border: none;
        width: 300px;
    }
}

.error {
    color: red;
    font-size: .9rem;
}