:root {
    --background-color-light: #e5e5e5;
    --font-color-light: #000;
    --header-background-color-light: #f2f2f2;
    --apexcharts-text-light: #000; 
    --container-background-color-light: #fff;
  
    --background-color-dark: rgb(49, 52, 54);
    --header-background-color-dark: #282c2d;
    --font-color-dark: #fffffe;
    --apexcharts-text-dark: #dbd6cd;
    --container-background-color-dark: rgb(33, 35, 36);
  
    --font-size-title: 16px;
    --font-size-subtitle: 12px;
  
    --background-color: var(--background-color-light);
    --header-background-color: var(--header-background-color-light);
    --font-color: var(--font-color-light);
    --apexcharts-text: var(--apexcharts-text);
    --container-background-color: var(--container-background-color-light);
  }