@use "../../scss/" as *;

.main-container {
    max-width: 900px;
    background-color: $body-bg;
    margin: 24pt auto;
    display: grid; 
    grid-template-columns: 2fr 3fr; 
    grid-template-rows: 2fr 2fr; 
    gap: 5px 5px; 

    .grapth{
        background-color: cadetblue;
    }

    .forecast{
        background-color: coral;
    }

}