@use "../../scss/" as *;


    .graph__container {
          .graph__title {
                margin-left: 15px;
                color: #4793ff;
                font-size: 25px;
            }
        
}


