@use "../../scss/" as *;


.header-container{
    background-color: #f2f2f2;
    width: 100%;

    .controls-container{
        max-width: 900px;
        margin: auto;
        padding     : 20pt 0;
        align-items: flex-start;
        @include flex(center, center);

        .controls{
            @include flex(center, flex-end)
        }
    }

}