@use "../../scss/" as *;


.header-container{
    background-color: var(--header-background-color);
    width: 100%;
    height: 194px;

    .controls-container{
        max-width: 900px;
        margin: auto;
        padding: 20pt 0;
        @media only screen and (max-width: 860px){
            width: auto;
        }
        @include flex(center, center);

        .controls{
            display: flex;
            flex-direction: column;
            margin-left: 2rem;
            @include tablet {
                margin-right: 2rem;
            }

            @include mobile {
                margin-right: 3rem;
            }

            .change {
                font-family: $font-family;
                font-size: 15px;
                cursor: pointer;
                color: #fff;
                background-color: $main-color;
                border-radius: 100rem;
                border: none;
                padding: $ten-px 0.9rem;
                transition: .2s;
                margin-bottom: $five-px;
                &:hover,
                :focus {
                  transform: translateY(-.2rem);
                }
                &:active{
                    background-color: rgba(117, 115, 115, 0.712);
                }

            }

            .favorite {
                color: rgb(230, 10, 10);
                cursor: pointer;
                width: unset;
                &:hover,
                :focus {
                  transform: translateY(-.2rem);
                }
            }
        }
        .authorization {
            display: flex;
            flex-direction: row;
            @include tablet {
                flex-direction: column;
                margin-right: 9rem;
            }
            .change {
                font-family: $font-family;
                font-size: 15px;
                cursor: pointer;
                color: #fff;
                background-color: $main-color;
                border-radius: 100rem;
                border: none;
                padding: $ten-px 0.9rem;
                transition: .2s;
                margin-bottom: $five-px;
                &:hover,
                :focus {
                  transform: translateY(-.2rem);
                }
                &:active{
                    background-color: rgba(117, 115, 115, 0.712);
                }
                &.auth {
                    margin-left: 5px;
                }
                &.reg {
                    margin-left: 5px;
                }
                a{
                    text-decoration: none;
                    color: #fff;
                }

            }
        }


    }

}
